name: dipper

services:
    bastion:
        image: nginx
        container_name: bastion
        volumes:
            - ./bastion/:/etc/nginx/conf.d/
            - ./bastion/certbot/conf:/etc/letsencrypt
            - ./bastion/certbot/www:/var/www/certbot
            - ./bastion/local/www:/var/www/local
        ports:
            - "80:80"
            - "443:443"
        environment:
            NGINX_HOST: samela.io
            NGINX_PORT: 80
        command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
        restart: always

    certbot:
        image: certbot/certbot
        container_name: certbot
        volumes:
            - ./bastion/certbot/conf:/etc/letsencrypt
            - ./bastion/certbot/www:/var/www/certbot
        entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
        restart: always

    plex:
        image: plexinc/pms-docker:plexpass
        container_name: plex
        network_mode: host
        environment:
            TZ: America/Boston
        devices:
            - /dev/dri:/dev/dri
        volumes:
            - /share/Library:/data:rw
        restart: unless-stopped

    pihole:
        container_name: pihole
        image: pihole/pihole:latest
        ports:
            - "192.168.1.5:53:53/tcp"
            - "192.168.1.5:53:53/udp"
            - "67:67/udp"
            - "8080:80/tcp"
            - "444:443/tcp"
        volumes:
            - "./pihole/etc-pihole/:/etc/pihole/"
            - "./pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/"
        cap_add:
            - NET_ADMIN
        restart: unless-stopped

    samba:
        image: joebiellik/samba-server
        container_name: samba
        volumes:
            - ./smb.conf:/etc/samba/smb.conf
            - /share:/mnt/share
        ports:
            - "137:137/udp"
            - "138:138/udp"
            - "139:139/tcp"
            - "445:445/tcp"
        environment:
            USERNAME: josephsamela
            PASSWORD: samba_password
        secrets:
            - samba_password
        restart: unless-stopped

    resilio-sync:
        image: lscr.io/linuxserver/resilio-sync
        container_name: resilio-sync
        environment:
            PUID: 1000
            PGID: 1000
            TZ: America/New York
        volumes:
            - ./resilio-sync/config:/config
            - /share:/sync
        ports:
            - 8888:8888
            - 55555:55555
        restart: unless-stopped

    transmission:
        image: ghcr.io/linuxserver/transmission
        container_name: transmission
        environment:
            PUID: 1000
            PGID: 1000
            TZ: America/Boston
            TRANSMISSION_WEB_HOME: /transmission-web-control
        volumes:
            - /share/temp/downloads:/downloads
        ports:
            - 9091:9091
            - 51413:51413
            - 51413:51413/udp
        restart: unless-stopped

    library:
        image: nginx
        container_name: library
        volumes:
            - /share/Library:/data
            - ./library/:/etc/nginx/conf.d/
            - ~/.htpasswd/library:/.htpasswd
        ports:
            - "1337:80"
        environment:
            NGINX_HOST: samela.io
            NGINX_PORT: 80
        restart: always

    beehive-weight-data-bridge:
        container_name: beehive-weight-data-bridge
        image: beehive-weight-data-bridge
        ports:
            - "8075:8075"
        volumes:
            - ./beehive-weight-data-bridge:/usr/src/app
        restart: unless-stopped

    influxdb:
        container_name: influxdb
        image: influxdb
        volumes:
            - ./influxdb/data:/var/lib/influxdb2
            - ./influxdb/config:/etc/influxdb2
        ports:
            - "8086:8086"
        environment:
            DOCKER_INFLUXDB_INIT_USERNAME: josephsamela
            DOCKER_INFLUXDB_INIT_PASSWORD: password
            DOCKER_INFLUXDB_ORG: samela.io
            DOCKER_INFLUXDB_BUCKET: weatherstation
        restart: unless-stopped

    weatherstation_rtl_433:
        container_name: weatherstation_rtl_433
        image: hertzg/rtl_433:latest
        ports:
            - "7560:7560"
        devices:
            - /dev/bus/usb/003
        command:
            - "-Finflux://dipper:8086/api/v2/write?org=samela.io&bucket=weatherstation,token=influxdb_api_token"
        depends_on:
            - influxdb
        secrets:
            - influxdb_api_token
        restart: unless-stopped

    rtltcp:
        container_name: rtltcp
        image: kosdk/rtl-tcp
        ports:
            - 1234:1234
        devices: 
            - /dev/bus/usb/003
        restart: always

    homebridge:
        image: homebridge/homebridge:latest
        container_name: homebridge
        restart: unless-stopped
        network_mode: host
        environment:
            TZ: America/New_York
            PGID: 1000
            PUID: 1000
            HOMEBRIDGE_CONFIG_UI: 1
            HOMEBRIDGE_CONFIG_UI_PORT: 8581
        volumes:
            - ./homebridge:/homebridge

    homebridge-weather-station-api-relay:
        image: homebridge-weather-station-api-relay
        container_name: homebridge-weather-station-api-relay
        ports:
          - 8084:5000
        restart: unless-stopped

    3cx:
        image: ghcr.io/izer-xyz/3cx:latest
        container_name: 3cx
        restart: unless-stopped
        tty: true
        cgroup: host
        tmpfs:
            - /tmp/
            - /run/
            - /run/lock
        volumes:
            - ./3cx:/mnt/voip:rw
            - /sys/fs/cgroup:/sys/fs/cgroup:rw
        ports:
            - "5015:5015"
            - "5060:5060"
            - "5060:5060/udp"
            - "5090:5090"
            - "5090:5090/udp"

    tftp:
        image: 3x3cut0r/tftpd-hpa
        container_name: tftp
        environment:
          TZ: America/Boston
          CREATE: 1
          VERBOSE: 1
        volumes:
            - ./tftp:/tftpboot
        ports:
            - 69:69/udp
        restart: unless-stopped

    airprint:
        image: chuckcharlie/cups-avahi-airprint
        container_name: airprint
        network_mode: host
        volumes:
            - ./airprint/services:/services
            - ./airprint/config:/config
        environment:
            CUPSADMIN: "admin"
            CUPSPASSWORD: "password"
        restart: unless-stopped

    audiobookshelf:
        image: ghcr.io/advplyr/audiobookshelf
        container_name: audiobookshelf
        environment:
            AUDIOBOOKSHELF_UID: 99
            AUDIOBOOKSHELF_GID: 100
        ports:
            - 13378:80
        volumes:
            - /share/Library/Books/Audiobooks:/audiobooks
            - ./audiobookshelf/config:/config
            - ./audiobookshelf/metadata:/metadata
        restart: unless-stopped

    zoneminder:
        image:  zoneminderhq/zoneminder:latest-ubuntu18.04
        container_name: zoneminder
        volumes:
            - ./zoneminder/events:/var/cache/zoneminder/events
            - ./zoneminder/images:/var/cache/zoneminder/images
            - ./zoneminder/mysql:/var/lib/mysql
            - ./zoneminder/logs:/var/log/zm
        ports:
            - 1080:80
        devices:
            - /dev/dri:/dev/dri
        restart: unless-stopped

    shairport-sync:
        image: mikebrady/shairport-sync:latest
        container_name: shairport-sync
        network_mode: host
        restart: unless-stopped
        devices:
            - "/dev/snd"
        volumes:
            - ./shairport-sync/shairport-sync.conf:/etc/shairport-sync.conf
            - /etc/asound.conf:/etc/asound.conf:ro
            - /usr/lib/arm-linux-gnueabihf/alsa-lib:/usr/lib/arm-linux-gnueabihf/alsa-lib:ro
            - /run/dbus/system_bus_socket:/run/dbus/system_bus_socket

    homeassistant:
        image: ghcr.io/home-assistant/home-assistant:stable
        container_name: homeassistant
        volumes:
            - ./homeassistant/config:/config
        environment:
            TZ: America/New_York
        ports:
            - 8123:8123
        restart: unless-stopped

    musicbot:
        container_name: musicbot
        build:
            context: ../discord-musicbot-docker
            dockerfile: ../discord-musicbot-docker/Dockerfile
            no_cache: true
        restart: unless-stopped

secrets:
    samba_password:
        file: ./secrets/samba_password.txt
    influxdb_api_token:
        file: ./secrets/influxdb_api_token.txt

