version: "3"

services:
    bastion:
        image: nginx
        container_name: bastion
        volumes:
            - ./bastion/:/etc/nginx/conf.d/
            - ./bastion/certbot/conf:/etc/letsencrypt
            - ./bastion/certbot/www:/var/www/certbot
        ports:
            - "80:80"
            - "443:443"
        environment:
            - NGINX_HOST=samela.io
            - NGINX_PORT=80
        command: "/bin/sh -c 'while :; do sleep 6h & wait $${!}; nginx -s reload; done & nginx -g \"daemon off;\"'"
        restart: always

    certbot:
        image: certbot/certbot
        container_name: certbot
        volumes:
              - ./bastion/certbot/conf:/etc/letsencrypt
              - ./bastion/certbot/www:/var/www/certbot
        entrypoint: "/bin/sh -c 'trap exit TERM; while :; do certbot renew; sleep 12h & wait $${!}; done;'"
        restart: always

    plex:
        image: plexinc/pms-docker:plexpass
        container_name: plex
        network_mode: host
        restart: always
        environment:
            - TZ="America/Boston"
        devices:
            - /dev/dri:/dev/dri
        volumes:
            - /share/Library:/data:rw
        restart: always

    pihole:
        container_name: pihole
        image: pihole/pihole:latest
        restart: always
        environment:
            - TZ="America/Boston"
        ports:
            - "192.168.1.5:53:53/tcp"
            - "192.168.1.5:53:53/udp"
            - "67:67/udp"
            - "8080:80/tcp"
            - "444:443/tcp"
        volumes:
            - ".pihole/etc-pihole/:/etc/pihole/"
            - ".pihole/etc-dnsmasq.d/:/etc/dnsmasq.d/"
        cap_add:
            - NET_ADMIN
        restart: always

    rtltcp:
        container_name: rtltcp
        image: kosdk/rtl-tcp
        ports:
            - 1234:1234
        devices: 
            - /dev/bus/usb/003
        restart: always

    samba:
        image: joebiellik/samba-server
        volumes:
            - ./smb.conf:/etc/samba/smb.conf
            - /share:/mnt/share
        ports:
            - "137:137/udp"
            - "138:138/udp"
            - "139:139/tcp"
            - "445:445/tcp"

    transmission:
        image: ghcr.io/linuxserver/transmission
        container_name: transmission
        environment:
            - PUID=1000
            - PGID=1000
            - TZ=America/Boston
            - TRANSMISSION_WEB_HOME=/transmission-web-control
        volumes:
            - /share/temp/downloads:/downloads
        ports:
            - 9091:9091
            - 51413:51413
            - 51413:51413/udp
        restart: unless-stopped

    minecraft:
        image: itzg/minecraft-server
        container_name: minecraft
        ports: 
            - "25565:25565"
        volumes:
            - "/minecraft:/data"
        environment:
            EULA: "TRUE"
        restart: always
    
    library:
        image: nginx
        container_name: library
        volumes:
            - /share/Library:/data
            - ./library/:/etc/nginx/conf.d/
            - ~/.htpasswd:/.htpasswd
        ports:
            - "1337:80"
        environment:
            - NGINX_HOST=samela.io
            - NGINX_PORT=80
        restart: always

    homeassistant:
        container_name: homeassistant
        image: homeassistant/home-assistant:stable
        volumes:
            - ./homeassistant:/config
            - /etc/localtime:/etc/localtime:ro
        restart: unless-stopped
        network_mode: host

    beehive-weight-data-bridge:
        container_name: beehive-weight-data-bridge
        image: beehive-weight-data-bridge
        ports:
            - "8075:8075"
        volumes:
            - ./beehive-weight-data-bridge:/usr/src/app
        restart: unless-stopped

    weatherstation_influxdb:
        container_name: weatherstation_influxdb
        image: influxdb
        network_mode: "host"
        ports:
            - "8086:8086"
        environment:
            - DOCKER_INFLUXDB_INIT_USERNAME=josephsamela
            - DOCKER_INFLUXDB_INIT_PASSWORD=password
            - DOCKER_INFLUXDB_ORG=samela.io
            - DOCKER_INFLUXDB_BUCKET=weatherstation
        restart: unless-stopped

    weatherstation_rtl_433:
        container_name: weatherstation_rtl_433
        image: hertzg/rtl_433:latest
        ports:
            - "7560:7560"
        devices:
            - /dev/bus/usb/003
        command:
            - "-Finflux://weatherstation_influxdb:8086/api/v2/write?org=samela.io&bucket=weatherstation,token=8Ab-YH8MKDhPQjTazrKzit3hZ6PGTaK8-K5d3-N6o3qvCgZN79lZIODkwEYrN79OAUJVpOgYI8U5ZD0CweKUkQ=="
        depends_on:
            - "weatherstation_influxdb"
        restart: unless-stopped

